numpy
nltk
cltk
-e git+https://github.com/clemsciences/old_norse_texts_heimskringla.git#egg=eddas
-e git+https://github.com/cltk/old_norse_dictionary_zoega.git#egg=zoegas
matplotlib
requests
lxml
tornado==4.5.3
ipykernel==4.8.2

